*{
	margin: 0;
	padding: 0;
}

html,body{
	height: 100%;
}


.center{

	box-sizing: border-box;/*responsivo*/
	
	width: 1280px;/*largura*/
	margin: 0 auto;
	
	padding-left: 30px;/*espaçamento interno*/
	background-color: gray;

	padding:30px 30px 30px 30px; /*margens de preechimento*/ 
	/*padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
	padding-bottom: 30px;*/
}

.artigo > p{
	background-color: green;
}


.artigo{

}
